.combo-sheet {
  display: grid;
  padding: 15px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  grid-template-rows: 3fr 4fr 2fr;
  grid-template-areas: 
  "attributes attributes"
  "combos list"
  "results results"
}

.attributes {
  grid-area: attributes;
  background: orange;
}

.attribute {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

.attribute input {
  width: 25px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.combos {
  grid-area: combos;
  background: blue;
}

.list {
  grid-area: list;
  background: green;
}

.results {
  grid-area: results;
  background: red;
}

header {
  display: grid;
  height: 30px;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: center;
  align-content: center;
  background: pink;
}

@media (max-width: 500px) {
  .combo-sheet {
    grid-template-areas: 
    "attributes"
    "combos"
    "list"
    "results"
  }
}
