.combo-sheet {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  grid-template-rows: 3fr 4fr 2fr;
  grid-template-areas: 
  "attributes attributes"
  "combos list"
  "results results"
}

.attributes {
  grid-area: attributes;
  background: orange;
}

.combos {
  grid-area: combos;
  background: blue;
}

.list {
  grid-area: list;
  background: green;
}

.results {
  grid-area: results;
  background: red;
}

header {
  display: grid;
  justify-content: center;
  background: pink;
}

@media (max-width: 500px) {
  .combo-sheet {
    grid-template-areas: 
    "attributes"
    "combos"
    "list"
    "results"
  }
}
